
section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
  color: #fff; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff; }

.reveal {
  font-family: 'HelveticaWebRoman', sans-serif;
  font-size: 44px;
  font-weight: normal;
  color: #000; }

::selection {
  color: #000;
  background: #bee4fd;
  text-shadow: none; }

.reveal .slides > section, .reveal .slides > section > section {
  line-height: 1.2;
  font-weight: inherit;
  text-align: center; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  margin: 0 0 20px 0;
  color: #000;
  font-family: 'CaslonRegular', 'HelveticaWebBold', sans-serif;
  font-weight: 300;
  letter-spacing: normal;
  /*text-transform: uppercase;*/
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 3em; }

.reveal h2 {
  font-size: 2.5em; }

.reveal h3 {
  font-size: 1.5em; }

.reveal h4 {
  font-size: 1.2em;
  margin-bottom:0px;
  font-family: 'HelveticaWebBold', sans-serif;
  font-weight: 600;
}

.reveal h1 {
  text-shadow: none; }

.reveal header{
  position: absolute;
  font-size: 0.6em;
  font-weight: 700;
  top: 0px;
  left: 0px;
  width: 100%;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.reveal header a{
  color: #000;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}
.reveal header a:hover{
  color: #09f;
  text-decoration: none;
}

.reveal footer{
  position: absolute;
  font-size: 0.6em;
  bottom: 0px;
  left: 0px;
  width: 100%;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.left{
  float: left;
  text-align: left;
}
.right{
  float: right;
  font-weight: 200 !important;
}

.logo{
  height: 40px;
  width: auto;
}

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img, .reveal video, .reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong, .reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol, .reveal dl, .reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul, .reveal ul ol, .reveal ol ol, .reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q, .reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child, .reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 100%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
  background: #3F3F3F;
  color: #DCDCDC; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th, .reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"], .reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"], .reveal table td[align="right"] {
  text-align: right; }

.reveal table tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #42affa;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease; }

.reveal a:hover {
  color: #8dcffc;
  text-shadow: none;
  text-decoration: underline;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #068ee9; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 0px;
}

.reveal a img {
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #42affa;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left, .reveal .controls div.navigate-left.enabled {
  border-right-color: #42affa; }

.reveal .controls div.navigate-right, .reveal .controls div.navigate-right.enabled {
  border-left-color: #42affa; }

.reveal .controls div.navigate-up, .reveal .controls div.navigate-up.enabled {
  border-bottom-color: #42affa; }

.reveal .controls div.navigate-down, .reveal .controls div.navigate-down.enabled {
  border-top-color: #42affa; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #8dcffc; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #8dcffc; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #8dcffc; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #8dcffc; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #42affa;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #42affa; }



/*********************************************
 * CUSTOM SHIT BY AARON
 *********************************************/

 @font-face {
     font-family: 'CaslonRegular';
     src: url('../../lib/font/acaslonpro-regular.otf');
     font-weight: normal;
     font-style: normal;
 }

 @font-face {
     font-family: 'HelveticaWebRoman';
     src: url('../../lib/font/HelveticaNeueLTStd-Roman.otf');
     font-weight: normal;
     font-style: normal;
 }

 @font-face {
     font-family: 'HelveticaWebBold';
     src: url('../../lib/font/HelveticaNeueLTPro-Bd.ttf');
     font-weight: normal;
     font-style: normal;
 }

 .noheader header { opacity: 0;}

 .contentrow{

 }

 .contenttab{
   float: left;
   width: 24%;
   margin: 0 0.5% 0 0.5% !important;
 }

.titletext{
  text-align: left;
}

.caption{
  width: 90%;
  margin: auto !important;
  font-size: 0.5em !important;
}

.half{
  float: left;
  width: 50%;
}

.half img{
  width: 100%;
}

.third{
  float: left;
  width: 33.3%;
}

.quarter{
  float: left;
  width: 25%;
}

.fifth{
  float: left;
  width: 20%;
}

.imglist{
  font-size: 0.5em !important;
}

.demolink{
  color: #0066cc;
}
.demolink:visited{
  color: #aaaaaa;
}
.demolink:hover{
  color: #0099ff;
  text-decoration: underline;
}
.demolink:active{
  background-color:white;
}

td, tr {
  font-size: 3px !important;
  border: 0 !important;
}

table{
  border-collapse:collapse !important;
}

.divtest{
  width: 300px;
}

.divtest2{
  position: relative;
  width: 300px;
}

.divtest3{
  width: 200px;
  height: 200px;
  float: left;
  margin: 20px !important;
}

.divtest4{
  width: 200px;
  height: 200px;
  float: right;
  margin: 20px !important;
}

#diva{
  background-color: #ff0000;
}
#divb{
  background-color: #ff3300;
}
#divc{
  background-color: #ff6600;
}
#divd{
  background-color: #ff9900;
}
#dive{
  background-color: #ffcc00;
}

.week{
  color: white;
}

.gray{
  color: #999 !important;
}

canvas{
  width: 1920px !important;
  height: auto !important;
}

.artist{
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 0.7em !important;
  padding: 20px !important;
  text-align: left;
  float: left;
  background-color: rgba(255,255,255,0.3);
}

.artist a{
  font-style: italic;
  color: #fff;
}
.artist a:hover{
  color: #fff;
}
